body {
    background: #005D9E;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
}

h1{
    font-weight: 700;
    display: inline;
    color: #00599D;
}

h2 {
    font-weight: 700;
    display: inline;
    color: #00599D;
}

h3 {
    color: #00599D;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 89, 157, 0), rgba(0, 89, 157, 0.75), rgba(0, 89, 157, 0));
    margin: 15px 0 30px 0;
    
}

/* styling for assoc links */
ul {
    text-align: center;
    list-style-type: none;
}

    #assoc {
        float: left;
        width: 20%;    
    }


.container {
    background: white;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

#banner {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

#content {
    width: 80%;
    margin: 0;
    float: left;
    box-sizing: border-box;
    padding: 0 0 50px 50px;
    
}


.topnav {
    background-color: #008CE3;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a, .topnav div {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
        width: 16.66%;
    }

    .topnav a {    
        padding: 10px 0;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: rgba(151, 214, 250, 0.925);
        color: #00599D;
    }

    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
        display: none;
    }

        /* dropdown in navbar */
        .topnav .dropdown a {
            padding: 10px 0;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .topnav .dropdown .dropdown-content {
            display: none;
            position: absolute;
            background-color: #008CE3;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 0;
            z-index: 1;
            width: 15.4%;
            margin-top: 42px;
        }



        .topnav .dropdown .dropdown-content a {
            width: 100%;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }





/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea, input[type=email], input[type=number] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        background-color: #02599C;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    /* change styling of submit button on hover */
    input[type=submit]:hover {
        background-color: #8CD0F8;
        color: #00599D;
    }

    /* Add a background color and some padding around the form */
    .formContainer {
        border-radius: 5px;
        background-color: rgba(50, 162, 232, 0.164);
        padding: 20px;
    }



/* set widths for responsive screen size */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}

    @media (min-width: 992px) {
        .container {
        width: 970px;
        }
    }

    @media (min-width: 1200px) {
        .container {
        width: 1170px;
        }
    }

    /* move assoc's to side isntead of bottom at this size */
    @media(max-width: 991px) {
        #content {
            width: 100%;
        }

        #assoc {
            width: 100%;
        }
        
        #assoc li{
            display: inline;
            padding: 20px;
        }

        #assoc h3 {
            margin: 0;
        }

        #assoc hr {
            margin-top: 0;  
        }

    }

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
    .topnav a:not(:first-child), .topnav .dropdown {
        display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }

    #content {
        padding-left: 10px;
    }

    .topnav a:not(:last-child) {
        width: 80%;    
    }
    
  } 
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      box-sizing: border-box;
      text-align: left;
      padding-left: 10px;
    }

    .topnav.responsive .dropdown {
        float: none;
        display: block;
        box-sizing: border-box;
        text-align: left;
        width: 80%;
    }    


    /* style to have dropdown show on hover  */
    .topnav.responsive .dropdown:hover .dropdown-content {
        float: none;
        display: block;
        box-sizing: border-box;
        text-align: left;
        width: 100%;
        position: relative; /* this was killing me */
        margin: 0;
    }
    
  }